<!--Seccion productos -->
<section id="mobile-products" class="product-store position-relative padding-large">
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3" style="margin-bottom: 0;">
        <h2 class="display-7 text-dark text-uppercase" onclick="filterBrands()"
          style="padding-top: 2rem; padding-bottom: 0; margin-bottom: 0;">Nuestras Marcas</h2>
      </div>

      <hr class="my-4">
      <div class="container content-space-2">
        <div class="row">
          <div class="col text-center py-3">
            <img class="brand-logo" src="../../../assets/images/bata.png" alt="Bata"  (click)="__ProductosMarcas(1)">
          </div>
          <div class="col text-center py-3">
            <img class="brand-logo" src="../../../assets/images/vizzano.png" alt="Vizzano"  (click)="__ProductosMarcas(2)">
          </div>
          <div class="col text-center py-3">
            <img class="brand-logo" src="../../../assets/images/call-it-spring.png" alt="Call it Spring"  (click)="__ProductosMarcas(3)">
          </div>
          <div class="col text-center py-3">
            <img class="brand-logo" src="../../../assets/images/ciara.png" alt="Ciara"  (click)="__ProductosMarcas(4)">
          </div>
          <div class="col text-center py-3">
            <img class="brand-logo" src="../../../assets/images/azaleia.png" alt="Azaleia"  (click)="__ProductosMarcas(5)">
          </div>
          <div class="col text-center py-3">
            <img class="brand-logo" src="../../../assets/images/viale.png" alt="Viale"  (click)="__ProductosMarcas(6)">
          </div>
        </div>
      </div>
      <hr class="my-4">
      <div class="swiper product-swiper" style="margin: 2rem 0;">
        <div class="swiper-wrapper">
          <div *ngFor = "let p of projects" class="swiper-slide shoe-item bata">
            <div class="product-card position-relative">
              <div class="image-holder sale-container">
                <img src="{{p.imagen}}" alt="product-item" class="img-fluid">
                <div class="product-text">
                  <p *ngIf="p.descuento>0">{{p.descuento}} %</p>
                  <p *ngIf="p.nuevo==1">Novedad</p>
                </div>
              </div>
              <div class="cart-concern position-absolute">
                <div class="cart-button d-flex">
                  <button  class="btn btn-medium btn-black" (click)="agregarProductoAlCarrito(p)">Agregar al carro</button>
                </div>
              </div>
              <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                <h3 class="card-title text-uppercase">
                  <a href="detalleCompra">{{p.descripcion}}</a>
                </h3>
                <div>
                  <span *ngIf="p.nuevo==0 && p.descuento > 0" class="item-price original-price">S/ {{p.precio}}</span>
                  <span *ngIf="p.nuevo==1" class="item-price ">S/ {{p.precio}}</span>
                  <span *ngIf="p.nuevo==0" class="item-price text-primary">S/{{p.precio_descuento}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
